.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

*.bbl
*.csv
*.eps
*.gz
*.log
*.pag
*.Rapp.history
*.rds
*.Rproj

figure/
figure-static/figure-08-1.eps
figure-static/figure-10-1.eps
submission/figure-01-1.pdf
submission/figure-02-1.pdf
submission/figure-03-1.pdf
submission/figure-04-1.pdf
submission/figure-05-1.pdf
submission/figure-06-1.pdf
submission/figure-07-1.pdf
submission/figure-08-1.png
submission/figure-09-1.pdf
submission/figure-10-1.png
submission/figure-11-1.pdf
submission/figure-12-1.pdf
submission/figure-13-1.pdf
submission/figure-B1-1.pdf
submission/figure-B2-1.pdf
submission/figure-C3-1.pdf
submission/paper-submission-concordance.tex
paper-concordance.tex



