.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

*.Rproj
*.gz
*.log
*.bbl
*.pag
*.tex

figure/
submission/

figure-08.eps
figure-09.eps
figure-10.eps
figure-08-eps-converted-to.pdf
figure-09-eps-converted-to.pdf