.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

*.aux
*.bbl
*.blg
*.csv
*.eps
*.gz
*.log
*.pag
*.Rapp.history
*.rds
*.Rproj

code/renv*
figure/
figure-08-1.png
figure-10-1.png
paper-concordance.tex



